In [34]:
import pandas as pd
import numpy as np
import datetime as dt

In [35]:
flight = pd.read_csv("flight.csv")

/var/folders/qs/xb1jbyld51vb97tmpps_g21w0000gn/T/ipykernel_20329/1771260237.py:1: DtypeWarning: Columns (4,11,12,36,37,38,39,40,42,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,64,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,86,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,108,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,130,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,152,154,155,156,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,174,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,218,220,221,222,224,225,227,228,229,230,231,232,233,234,235,236,237,238,240,242,243,244,246,247,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,284,286,287,288,289,290,291,293,294,295,296,297,298,299,300,301,302,303,304,306,308,309,310,311,312,313,315,316,317,318,319,320,321,322,323,324,325,326,328,330,331,332,334,335,337,338,339,340,341,342,343,344,345,346,347,348,350,352,353,354,356,357,359,360,361,362,363,364,365,366,367,368,369,370,372,374,375,376,378,379,381,382,383,384,385,386,387,388,389,390,391,392,394,396,397,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,416,418,419,420,422,423,425,426,427,428,429,430,431,432,433,434,435,436,438,440,441,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,460,462,463,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,482,484,485,486,487,488,489,491,492,493,494) have mixed types. Specify dtype option on import or set low_memory=False.
  flight = pd.read_csv("flight.csv")

In [36]:
flight

,Airline name,Travel Time,Unnamed: 2,Number of Stoppage,Ticket prize(Doller),Depreture Airport,Depreture Time,1st Stoppage Waiting Hour,1st Stoppage,2nd StoppageWaiting Time,...,Unnamed: 485,Unnamed: 486,Unnamed: 487,Unnamed: 488,Unnamed: 489,Unnamed: 490,Unnamed: 491,Unnamed: 492,Unnamed: 493,Unnamed: 494
0,Emirates,51h 15m,NaN,2 Stops,1156,DAC,01:40a,11h 15m,DXB,19h 40m,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Emirates,57h 25m,NaN,2 Stops,1156,DAC,07:30p,17h 15m,DXB,19h 40m,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Turkish,26h 5m,NaN,1 Stop,1175,DAC,06:35a,6h 20m,IST,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Kuwait,21h 15m,NaN,1 Stop,1264,DAC,03:10a,2h 10m,KWI,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Etihad,22h 35m,NaN,1 Stop,1283,DAC,08:55p,3h 0m,AUH,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2456,British,47h 35m,NaN,2 Stops,2654,DAC,10:50a,11h 35m,DOH,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2457,Multiple,19h 15m,NaN,2 Stops,3307,DAC,12:50a,1h 50m,CAN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2458,Multiple,23h 30m,NaN,2 Stops,3606,DAC,12:50a,4h 0m,CAN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2459,Multiple,23h 30m,NaN,2 Stops,3606,DAC,12:50a,3h 10m,CAN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2460,Multiple,22h 10m,NaN,2 Stops,3993,DAC,02:10a,55m,HKG,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
#showing the columns of this df
flight.columns

Index(['Airline name ', 'Travel  Time', 'Unnamed: 2', 'Number of  Stoppage ',
       'Ticket prize(Doller)', 'Depreture  Airport', 'Depreture Time',
       '1st Stoppage Waiting Hour', '1st Stoppage', '2nd StoppageWaiting Time',
       ...
       'Unnamed: 485', 'Unnamed: 486', 'Unnamed: 487', 'Unnamed: 488',
       'Unnamed: 489', 'Unnamed: 490', 'Unnamed: 491', 'Unnamed: 492',
       'Unnamed: 493', 'Unnamed: 494'],
      dtype='object', length=495)

In [38]:
#dropping 'Unnamed: 2' column
flight = flight.drop('Unnamed: 2', axis = 1)

In [39]:
#dropping other unnamed columns
flight.drop(flight.iloc[0:3, 15:499], inplace = True, axis = 1)

In [40]:
flight.head(10)

,Airline name,Travel Time,Number of Stoppage,Ticket prize(Doller),Depreture Airport,Depreture Time,1st Stoppage Waiting Hour,1st Stoppage,2nd StoppageWaiting Time,2nd Stoppage,3rd Stoppage Waiting time,3rd Stoppage,Destination Airport,Arrival Time,Arrival Date
0,Emirates,51h 15m,2 Stops,1156,DAC,01:40a,11h 15m,DXB,19h 40m,MXP,NaN,NaN,JFK,06:55p,Apr 8
1,Emirates,57h 25m,2 Stops,1156,DAC,07:30p,17h 15m,DXB,19h 40m,MXP,NaN,NaN,JFK,06:55p,Apr 9
2,Turkish,26h 5m,1 Stop,1175,DAC,06:35a,6h 20m,IST,NaN,NaN,NaN,NaN,EWR,10:40p,NaN
3,Kuwait,21h 15m,1 Stop,1264,DAC,03:10a,2h 10m,KWI,NaN,NaN,NaN,NaN,JFK,02:25p,NaN
4,Etihad,22h 35m,1 Stop,1283,DAC,08:55p,3h 0m,AUH,NaN,NaN,NaN,NaN,JFK,09:30a,Apr 8
5,Turkish,21h 15m,1 Stop,1297,DAC,06:35a,1h 50m,IST,NaN,NaN,NaN,NaN,JFK,05:50p,NaN
6,Emirates,27h 15m,1 Stop,1313,DAC,01:40a,5h 15m,DXB,NaN,NaN,NaN,NaN,JFK,06:55p,Apr 8
7,Emirates,35h 50m,1 Stop,1313,DAC,07:30p,12h 20m,DXB,NaN,NaN,NaN,NaN,EWR,09:20p,NaN
8,Multiple,27h 15m,1 Stop,1376,DAC,05:30a,7h 30m,DOH,NaN,NaN,NaN,NaN,JFK,10:45p,NaN
9,Qatar,27h 0m,1 Stop,1431,DAC,05:30a,7h 5m,DOH,NaN,NaN,NaN,NaN,JFK,10:30p,Apr 8

----------------------------------------------------------------------------------------------------------------------

# Data Cleaning

In [41]:
#rename variables
flight.rename(columns = {'Depreture  Airport' : 'Departure Airport'}, inplace = True)
flight.rename(columns = {'Depreture Time' : 'Departure Time'}, inplace = True)
flight.rename(columns = {'Ticket prize(Doller)' : 'Ticket price(Dollar)'}, inplace = True)
flight.rename(columns = {'Travel  Time' : 'Travel Time'}, inplace = True)
flight.rename(columns = {'Number of  Stoppage' : 'Number of Stoppage'}, inplace = True)
flight.rename(columns = {'Number of  Stoppage ' : 'Number of Stoppage(s)'}, inplace = True)

In [42]:
#checking data types for above df
flight.dtypes

Airline name                 object
Travel Time                  object
Number of Stoppage(s)        object
Ticket price(Dollar)         object
Departure Airport            object
Departure Time               object
1st Stoppage Waiting Hour    object
1st Stoppage                 object
2nd StoppageWaiting Time     object
2nd Stoppage                 object
3rd Stoppage Waiting time    object
3rd Stoppage                 object
Destination Airport          object
Arrival Time                 object
Arrival Date                 object
dtype: object

In [43]:
#changing to string
flight[['Airline name ', 'Departure Airport', '1st Stoppage', '2nd Stoppage', '3rd Stoppage', 'Destination Airport']] = flight[['Airline name ', 'Departure Airport', '1st Stoppage', '2nd Stoppage', '3rd Stoppage', 'Destination Airport']].astype('string')

In [44]:
#change travel time to hour and min
#flight['Travel Time'] 
flight.dtypes

Airline name                 string
Travel Time                  object
Number of Stoppage(s)        object
Ticket price(Dollar)         object
Departure Airport            string
Departure Time               object
1st Stoppage Waiting Hour    object
1st Stoppage                 string
2nd StoppageWaiting Time     object
2nd Stoppage                 string
3rd Stoppage Waiting time    object
3rd Stoppage                 string
Destination Airport          string
Arrival Time                 object
Arrival Date                 object
dtype: object

In [45]:
#replacing irrelevant values in this column to nan first 
flight['Ticket price(Dollar)'].replace('Alaska', np.nan, inplace = True)
flight['Ticket price(Dollar)'].replace('$', np.nan, inplace = True)

In [46]:
#change to int
#flight['Ticket prize(Dollar)'] = flight['Ticket prize(Dollar)'].astype(float)
flight['Ticket price(Dollar)'] = flight['Ticket price(Dollar)'].astype(float)

In [47]:
mean_price = np.mean(flight['Ticket price(Dollar)'])
#fill the nan values in same column with average price of ticket (based on the data set)
flight['Ticket price(Dollar)'] = flight['Ticket price(Dollar)'].fillna(mean_price)

In [48]:
flight.dtypes

Airline name                  string
Travel Time                   object
Number of Stoppage(s)         object
Ticket price(Dollar)         float64
Departure Airport             string
Departure Time                object
1st Stoppage Waiting Hour     object
1st Stoppage                  string
2nd StoppageWaiting Time      object
2nd Stoppage                  string
3rd Stoppage Waiting time     object
3rd Stoppage                  string
Destination Airport           string
Arrival Time                  object
Arrival Date                  object
dtype: object

In [49]:
flight

,Airline name,Travel Time,Number of Stoppage(s),Ticket price(Dollar),Departure Airport,Departure Time,1st Stoppage Waiting Hour,1st Stoppage,2nd StoppageWaiting Time,2nd Stoppage,3rd Stoppage Waiting time,3rd Stoppage,Destination Airport,Arrival Time,Arrival Date
0,Emirates,51h 15m,2 Stops,1156.0,DAC,01:40a,11h 15m,DXB,19h 40m,MXP,NaN,<NA>,JFK,06:55p,Apr 8
1,Emirates,57h 25m,2 Stops,1156.0,DAC,07:30p,17h 15m,DXB,19h 40m,MXP,NaN,<NA>,JFK,06:55p,Apr 9
2,Turkish,26h 5m,1 Stop,1175.0,DAC,06:35a,6h 20m,IST,NaN,<NA>,NaN,<NA>,EWR,10:40p,NaN
3,Kuwait,21h 15m,1 Stop,1264.0,DAC,03:10a,2h 10m,KWI,NaN,<NA>,NaN,<NA>,JFK,02:25p,NaN
4,Etihad,22h 35m,1 Stop,1283.0,DAC,08:55p,3h 0m,AUH,NaN,<NA>,NaN,<NA>,JFK,09:30a,Apr 8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2456,British,47h 35m,2 Stops,2654.0,DAC,10:50a,11h 35m,DOH,NaN,<NA>,NaN,<NA>,DXB,08:25a,Apr 9
2457,Multiple,19h 15m,2 Stops,3307.0,DAC,12:50a,1h 50m,CAN,NaN,<NA>,NaN,<NA>,DXB,06:05p,NaN
2458,Multiple,23h 30m,2 Stops,3606.0,DAC,12:50a,4h 0m,CAN,NaN,<NA>,NaN,<NA>,DXB,10:20p,NaN
2459,Multiple,23h 30m,2 Stops,3606.0,DAC,12:50a,3h 10m,CAN,NaN,<NA>,NaN,<NA>,DXB,10:20p,NaN
2460,Multiple,22h 10m,2 Stops,3993.0,DAC,02:10a,55m,HKG,NaN,<NA>,NaN,<NA>,DXB,10:20p,NaN

In [50]:
#eliminate unnecessary info in 'Arrival Date' column
flight['Arrival Date'].replace('Arrives: Mon, Apr 10', ' Apr 10', inplace = True)
flight['Arrival Date'].replace('Budget Friendly', ' Apr 10', inplace = True)
flight['Arrival Date'].replace('Shortest Duration', ' Apr 10', inplace = True)
flight['Arrival Date'].replace('Cheapest', ' Apr 10', inplace = True)
flight['Arrival Date'].replace('Free cancellation within 50 hours of booking', ' Apr 10', inplace = True)

In [51]:
#convert arrival date
flight['Arrival Date'] = pd.to_datetime(flight['Arrival Date'], format = ' %b %d')

In [52]:
flight.columns

Index(['Airline name ', 'Travel Time', 'Number of Stoppage(s)',
       'Ticket price(Dollar)', 'Departure Airport', 'Departure Time',
       '1st Stoppage Waiting Hour', '1st Stoppage', '2nd StoppageWaiting Time',
       '2nd Stoppage', '3rd Stoppage Waiting time', '3rd Stoppage',
       'Destination Airport', 'Arrival Time', 'Arrival Date'],
      dtype='object')

In [53]:
flight.dtypes

Airline name                         string
Travel Time                          object
Number of Stoppage(s)                object
Ticket price(Dollar)                float64
Departure Airport                    string
Departure Time                       object
1st Stoppage Waiting Hour            object
1st Stoppage                         string
2nd StoppageWaiting Time             object
2nd Stoppage                         string
3rd Stoppage Waiting time            object
3rd Stoppage                         string
Destination Airport                  string
Arrival Time                         object
Arrival Date                 datetime64[ns]
dtype: object

In [54]:
#flight['Ticket price(Dollar)'].replace('Alaska', np.nan, inplace = True)
flight['Travel Time'].replace('Save $39!', np.nan, inplace = True)

In [55]:
flight['Travel Time']

0       51h 15m
1       57h 25m
2        26h 5m
3       21h 15m
4       22h 35m
         ...
2456    47h 35m
2457    19h 15m
2458    23h 30m
2459    23h 30m
2460    22h 10m
Name: Travel Time, Length: 2461, dtype: object

In [56]:
def convert_string_to_time(string):
    if isinstance(string, str):
        # Check if the value is a string
        hours = pd.to_numeric(string.split('h')[0])
        minutes = pd.to_numeric(string.split(' ')[1].split('m')[0])

        # Concatenate hours, minutes, and seconds into a string
        time_str = f'{hours}:{minutes}:00'
        return time_str
    else:
        return string

flight['Travel Time'] = flight['Travel Time'].apply(convert_string_to_time)

In [57]:
flight.head(5)

,Airline name,Travel Time,Number of Stoppage(s),Ticket price(Dollar),Departure Airport,Departure Time,1st Stoppage Waiting Hour,1st Stoppage,2nd StoppageWaiting Time,2nd Stoppage,3rd Stoppage Waiting time,3rd Stoppage,Destination Airport,Arrival Time,Arrival Date
0,Emirates,51:15:00,2 Stops,1156.0,DAC,01:40a,11h 15m,DXB,19h 40m,MXP,NaN,<NA>,JFK,06:55p,1900-04-08
1,Emirates,57:25:00,2 Stops,1156.0,DAC,07:30p,17h 15m,DXB,19h 40m,MXP,NaN,<NA>,JFK,06:55p,1900-04-09
2,Turkish,26:5:00,1 Stop,1175.0,DAC,06:35a,6h 20m,IST,NaN,<NA>,NaN,<NA>,EWR,10:40p,NaT
3,Kuwait,21:15:00,1 Stop,1264.0,DAC,03:10a,2h 10m,KWI,NaN,<NA>,NaN,<NA>,JFK,02:25p,NaT
4,Etihad,22:35:00,1 Stop,1283.0,DAC,08:55p,3h 0m,AUH,NaN,<NA>,NaN,<NA>,JFK,09:30a,1900-04-08

In [29]:
#flight['Travel Time'] = pd.to_datetime(flight['Travel Time'], format='%H:%M:%S')

ValueError: time data '51:15:00' does not match format '%H:%M:%S' (match)

In [24]:
#mean_time = np.mean(flight['Travel Time'])

TypeError: can only concatenate str (not "int") to str

In [74]:
#removing the word 'stop' from number of stoppage 
#flight['Number of Stoppage(s)'] = flight['Number of Stoppage(s)'].str.replace('Stops', '')
flight['Number of Stoppage(s)'] = flight['Number of Stoppage(s)'].str.replace('Stop', '')
flight['Number of Stoppage(s)'] = flight['Number of Stoppage(s)'].str.replace('s', '')

In [75]:
flight.head(5)

,Airline name,Travel Time,Number of Stoppage(s),Ticket price(Dollar),Departure Airport,Departure Time,1st Stoppage Waiting Hour,1st Stoppage,2nd StoppageWaiting Time,2nd Stoppage,3rd Stoppage Waiting time,3rd Stoppage,Destination Airport,Arrival Time,Arrival Date,Number of Stoppage
0,Emirates,51:15:00,2,1156.0,DAC,01:40a,11h 15m,DXB,19h 40m,MXP,NaN,<NA>,JFK,06:55p,1900-04-08,2 s
1,Emirates,57:25:00,2,1156.0,DAC,07:30p,17h 15m,DXB,19h 40m,MXP,NaN,<NA>,JFK,06:55p,1900-04-09,2 s
2,Turkish,26:5:00,1,1175.0,DAC,06:35a,6h 20m,IST,NaN,<NA>,NaN,<NA>,EWR,10:40p,NaT,1
3,Kuwait,21:15:00,1,1264.0,DAC,03:10a,2h 10m,KWI,NaN,<NA>,NaN,<NA>,JFK,02:25p,NaT,1
4,Etihad,22:35:00,1,1283.0,DAC,08:55p,3h 0m,AUH,NaN,<NA>,NaN,<NA>,JFK,09:30a,1900-04-08,1

In [88]:
flight['Number of Stoppage(s)'].replace('Nontop', np.nan, inplace = True)
flight['Number of Stoppage(s)'].replace('EXPRESS DEAL', np.nan, inplace = True)

In [89]:
#df['col_name'] = pd.to_numeric(df['col_name'])

flight['Number of Stoppage(s)'] = pd.to_numeric(flight['Number of Stoppage(s)'])

In [100]:
mean_stop = np.mean(flight['Number of Stoppage(s)'])
flight['Number of Stoppage(s)'] = flight['Number of Stoppage(s)'].fillna(mean_stop)
flight['Number of Stoppage(s)'].round()

0       2.0
1       2.0
2       1.0
3       1.0
4       1.0
       ...
2456    2.0
2457    2.0
2458    2.0
2459    2.0
2460    2.0
Name: Number of Stoppage(s), Length: 2461, dtype: float64

In [101]:
#flight.iloc[]

flight.iloc[430:431]

,Airline name,Travel Time,Number of Stoppage(s),Ticket price(Dollar),Departure Airport,Departure Time,1st Stoppage Waiting Hour,1st Stoppage,2nd StoppageWaiting Time,2nd Stoppage,3rd Stoppage Waiting time,3rd Stoppage,Destination Airport,Arrival Time,Arrival Date,Number of Stoppage
430,EVA,11:30:00,1.323493,756.0,LHR,09:35p,NaN,<NA>,NaN,<NA>,NaN,<NA>,JFK,03:05p,1900-04-08,Nonstop

----------------------------------------------------------------------------------------------------------------------

In [27]:
#removing the h and m from the text in travel time column
flight['Travel Time'] = flight['Travel Time'].str.replace('h', ':')
flight['Travel Time'] = flight['Travel Time'].str.replace('m', '')

In [35]:
flight.head(10)

,Airline name,Travel Time,Number of Stoppage,Ticket price(Dollar),Departure Airport,Departure Time,1st Stoppage Waiting Hour,1st Stoppage,2nd StoppageWaiting Time,2nd Stoppage,3rd Stoppage Waiting time,3rd Stoppage,Destination Airport,Arrival Time,Arrival Date
0,Emirates,51: 15,2 Stops,1156.0,DAC,01:40a,11h 15m,DXB,19h 40m,MXP,NaN,<NA>,JFK,06:55p,1900-04-08
1,Emirates,57: 25,2 Stops,1156.0,DAC,07:30p,17h 15m,DXB,19h 40m,MXP,NaN,<NA>,JFK,06:55p,1900-04-09
2,Turkish,26: 5,1 Stop,1175.0,DAC,06:35a,6h 20m,IST,NaN,<NA>,NaN,<NA>,EWR,10:40p,NaT
3,Kuwait,21: 15,1 Stop,1264.0,DAC,03:10a,2h 10m,KWI,NaN,<NA>,NaN,<NA>,JFK,02:25p,NaT
4,Etihad,22: 35,1 Stop,1283.0,DAC,08:55p,3h 0m,AUH,NaN,<NA>,NaN,<NA>,JFK,09:30a,1900-04-08
5,Turkish,21: 15,1 Stop,1297.0,DAC,06:35a,1h 50m,IST,NaN,<NA>,NaN,<NA>,JFK,05:50p,NaT
6,Emirates,27: 15,1 Stop,1313.0,DAC,01:40a,5h 15m,DXB,NaN,<NA>,NaN,<NA>,JFK,06:55p,1900-04-08
7,Emirates,35: 50,1 Stop,1313.0,DAC,07:30p,12h 20m,DXB,NaN,<NA>,NaN,<NA>,EWR,09:20p,NaT
8,Multiple,27: 15,1 Stop,1376.0,DAC,05:30a,7h 30m,DOH,NaN,<NA>,NaN,<NA>,JFK,10:45p,NaT
9,Qatar,27: 0,1 Stop,1431.0,DAC,05:30a,7h 5m,DOH,NaN,<NA>,NaN,<NA>,JFK,10:30p,1900-04-08

In [43]:
flight['Travel Time'] = flight['Travel Time'].str.strip()

In [44]:
flight.head(5)

,Airline name,Travel Time,Number of Stoppage,Ticket price(Dollar),Departure Airport,Departure Time,1st Stoppage Waiting Hour,1st Stoppage,2nd StoppageWaiting Time,2nd Stoppage,3rd Stoppage Waiting time,3rd Stoppage,Destination Airport,Arrival Time,Arrival Date
0,Emirates,51: 15,2 Stops,1156.0,DAC,01:40a,11h 15m,DXB,19h 40m,MXP,NaN,<NA>,JFK,06:55p,1900-04-08
1,Emirates,57: 25,2 Stops,1156.0,DAC,07:30p,17h 15m,DXB,19h 40m,MXP,NaN,<NA>,JFK,06:55p,1900-04-09
2,Turkish,26: 5,1 Stop,1175.0,DAC,06:35a,6h 20m,IST,NaN,<NA>,NaN,<NA>,EWR,10:40p,NaT
3,Kuwait,21: 15,1 Stop,1264.0,DAC,03:10a,2h 10m,KWI,NaN,<NA>,NaN,<NA>,JFK,02:25p,NaT
4,Etihad,22: 35,1 Stop,1283.0,DAC,08:55p,3h 0m,AUH,NaN,<NA>,NaN,<NA>,JFK,09:30a,1900-04-08

In [57]:
#flight['Travel Time'] = pd.to_datetime(flight['Travel Time'], format = '%H:%M').dt.time
#flight.iloc[0:1] = pd.to_datetime(flight['Travel Time'], format='%H :%M').dt.time
flight['Travel Time'] = pd.to_datetime(flight['Travel Time'], format='%H :%M').dt.time

ValueError: time data '51: 15' does not match format '%H :%M' (match)